@import url('https://fonts.googleapis.com/css?family=Jura:400');
* { font-family: Jura, Arial; font-weight: 400; }
body { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,p { margin: 0; }

        
     .sec{
       margin-left:30%;
       margin-top: 2%;
       background-color: white;
       width: 500px;
     }   

     
      
    
    button {
      padding: 10px;
      border:1px solid rgba(0,0,0,0);
      border-radius: 5px;
     
    
    }
  

.dbtn{
  background-color:#20c997;
}

.dheading{
  color: #20c997;
}

#app{
  background-color:white;
}
