.center{
    color:white;
}

.text{
    font-family: cursive;
}

.card-style{
    margin-top: 2%;
}

.chart-style{
    padding-left: 3%;
    padding-top: 5%;
}

.entire-page{
    overflow: 'auto';
    height: 'inherit';
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}
.nav-design{
    margin-top: 0rem;
    color:white;
    background-color:#26a69a;
    position: fixed;
    top: 0;
    z-index: 1;
}
h1{
    font-family: monospace;
}

#dropdown-basic-button{
    background-color: black;
    margin-left: 40%;
    
}

.nav-text{
    color:white; 
    
}

.card-header{
    background-color:#26a69a ;
    color: white;
}


blockquote{
margin: 0 0 1rem;
padding-left: 1.5rem;
border-left: 5px solid #ef8f1d;
}

.disease-heading{
    text-align: center;
    margin-right: 2%;
}
.chart-design{
    padding-left: 1%;
    padding-top: 1%;
}
._2OR24XnUXt8OCrysr3G0XI{
    margin-left: 1%;
    margin-right: 1%;
}

.predicted{
    font-family: 'Cabin Sketch', cursive;
    color:red;
    text-align: center;
    padding-top: 5%;
    font-size: 3rem;
}

.logo{
    color:white bold;
    font-size: 2rem;
}
.img-design{
    width: 500px;
    height:500px
}

.card-style1{
    margin-right: 50%;
}

.leaflet-container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
  }
.confirm{
    margin-left: 40%;
}
.go-back{
    margin-left: 47%;
}

.deck{
    margin: 5%;
}

.predict-bttn{
   margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
}