.front-page{
    margin-top: 5%;
    margin-left: 42%;
    margin-right: 20%;
    margin-bottom: 5%;
}


.center p{
    color: black;
}

.acti{
    margin-top:10%;
    color:black;
}

.multi{
    color:black;
}

.parti{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.deck{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
}

.login-head{
    font-family: baufra;
    margin-top: 2%;
}